mixin tweet(tweet,currentUserLikedTweets)
    .post(data-tweet-id=`${tweet.id}`)
        .post-header
            .user-info
                img(src=`/img/users/${tweet.createdBy.profilePicture}`, alt="" loading="lazy")
                p.name #{tweet.createdBy.name}
                p.username @#{tweet.createdBy.username}
            .post-settings 
                i.fa-solid.fa-ellipsis
        .post-content 
            p.post-writing-content #{tweet.content}
            .post-media 
                if tweet.media
                    for media in tweet.media 
                        img(src=`/img/postMedia/${media.url}`, alt="" loading="lazy")
        .post-footer
            .heart-replies
                - const checkIfUserLikedThisTweet = currentUserLikedTweets.some((userLikedTweet)=> userLikedTweet.tweetId === tweet.id)
                - const likedTweetClassname = (checkIfUserLikedThisTweet)?"liked-tweet":"";
                .icon-content.heart-icon-content(class=`${likedTweetClassname}`)
                    i.fa-light.fa-heart.icon.heart-icon
                    span.number-of-likes-on-tweet #{tweet.likes.length}
                .icon-content.reply-icon-content
                    i.fa-light.fa-comment.icon.reply-icon
                    span 300
            .icons-date
                -const tweetDate = new Date(tweet.createdAt).toLocaleString("en-US", {year: "numeric", month: "short",day: "2-digit",hour: "2-digit",minute: "2-digit",hour12: true });
                p.date #{tweetDate}
                - const checkIfUserBookmarkThisTweet = currentUserBookmarks.some((bookmark)=> bookmark.tweetId === tweet.id)
                - const bookmarkedTweetClassname = (checkIfUserBookmarkThisTweet)?"bookmarked-tweet":"";
                .icon-content.bookmark-icon-content(class=`${bookmarkedTweetClassname}`)
                    i.fa-light.fa-bookmark.icon.bookmark-icon
                .icon-content.retweet-icon-content
                    i.fa-light.fa-retweet.icon.retweet-icon
                    span 1.3k
                .icon-content.share-icon-content
                    i.fa-light.fa-share.icon.share-icon