include _loader.pug
include _tweet.pug

doctype html
html(lang="en") 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="icon", href="/img/logo/squareWhiteL.png")
        title LitLink | #{title}
        link(rel="stylesheet", href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer)
        //- script(src="https://cdn.socket.io/4.8.0/socket.i" defer)
        script(src="/socket.io/socket.io.js" defer)
        script(src="/js/home.js" defer)
    body
        .container 
            .left-container
                .left-container-content
                    .nav-logo 
                        img(src="/img/logo/logo-w.png", alt="LitLink Logo")
                    nav
                        .nav-link 
                            a(src="") 
                                img(src="/img/icons/Home.svg", alt="")
                                p  Home
                        .nav-link 
                            a(src="") 
                                img(src="/img/icons/Search.svg", alt="")
                                p  Explore
                        .nav-link 
                            a(src="") 
                                img(src="/img/icons/Notification.svg", alt="")
                                p  Notifications
                        .nav-link 
                            a(src="") 
                                img(src="/img/icons/Message.svg", alt="")
                                p  Messages
                        .nav-link 
                            a(src="") 
                                img(src="/img/icons/Bookmark.svg", alt="")
                                p  Bookmarks
                        .nav-link 
                            a(src="") 
                                i.fa-thin.fa-people-group
                                p  Communities
                        .nav-link 
                            a(src="") 
                                img.logo-img(src="/img/logo/purpleL.png", alt="")
                                p  Premium
                        .nav-link 
                            a(src="") 
                                img(src="/img/icons/Profile.svg", alt="")
                                p  Profile
                        .nav-link 
                            a(src="") 
                                i.fa-thin.fa-shop
                                p  Shops
                        .nav-link 
                            a(src="") 
                                img(src="/img/icons/More Circle.svg", alt="")
                                p.settings-word  More
                    .nav-post
                        button.show-popup-post-btn 
                            img(src="/img/icons/Tweet.svg", alt="")
                            | Post
                    .nav-account
                        - const imagePath = (user.profilePicture.startsWith("http://") || user.profilePicture.startsWith("https://"))?user.profilePicture:`/img/users/${user.profilePicture}`;
                        img(src=`${imagePath}`, alt="")
                        .user-name 
                            p.nameElrayes #{user.name}
                            p.username @#{user.username}
                        i.fa-solid.fa-ellipsis
            block content
                +loader()
                .middle-right-containers
                    .middle-right-containers-nav
                        .communities-section 
                        .search-field
                            .input-content 
                                img(src="/img/icons/Search.svg", alt="")
                                input.search-input(type="text" placeholder="Search")
                    .middle-container 
                        .create-post
                            .header 
                                img(src="/img/logo/purpleL.png", alt="")
                                h2 Tweet Now..!
                            .create-post-content
                                a(href="")
                                    img(src=`${imagePath}`, alt="")
                                .post-content 
                                    textarea#new-post-content(placeholder="What is happening...?!")
                                    .new-post-media-container#new-post-media-container 
                                    .select-post-reply 
                                        .everyone-reply 
                                            i.fa-solid.fa-earth-americas
                                            p Everyone can reply
                                    .icons-btn 
                                        .icons 
                                            input#post-media-input(type="file")
                                            label(for="post-media-input")
                                                i.fa-light.fa-image
                                            i.fa-light.fa-face-smile
                                        button#middle-create-post-btn(type="submit" disabled)
                                            img(src="/img/icons/Tweet.svg", alt="")
                                            | Post
                        for tweet in tweets 
                            +tweet(tweet,currentUserLikedTweets)

                    .right-container
    